@model DonorCentar.ViewModels.DonorMojeAktivneDonacijeVM
@{
    ViewData["Title"] = "MojeAktivneDonacije";
    Layout = "~/Views/Shared/_Donor.cshtml";


}
<div class="content-box">
    <div class="page-box">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Primalac</th>
                    <th scope="col">Tip donacije</th>
                    <th scope="col">Transport</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.rows)
                {
                <tr>
                    <td>@x.LicniPodaciNaziv</td>
                    <td>@x.TipDonacije</td>
                    <td><input asp-for="@x.Transport" onclick="return false"/></td>
                    <td><a class="btn btn-outline-info" asp-route-donacijaId="@x.DonacijaId" asp-route-akcija="1" asp-action="DetaljiDonacije">Detalji</a></td>

                    <td><a class="btn btn-outline-danger" asp-route-donacijaId="@x.DonacijaId" asp-action="PrekiniDonaciju">Prekini donaciju</a></td>
                    <td><a class="btn btn-outline-warning" asp-route-Id="@x.DonacijaId" asp-action="Dojam">Dojam</a></td>





                </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="Odbijen">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title">Odbijeno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Zahtjev je odbijen</p>
            </div>
            <div class="modal-footer">
                <a asp-action="MojeAktivneDonacije" class="btn btn-primary">U redu</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        if ('@ViewBag.Prikazi' != null && '@ViewBag.Prikazi' == "Odbijen")
        {
            $('#Odbijen').modal('show');
        }
    </script>
}

