@model DonorCentar.ViewModels.DonorPregledPotrebaVM
@{
    ViewData["Title"] = "PregledPotreba";
    Layout = "~/Views/Shared/_Donor.cshtml";
}

<div class="content-box">
    <div class="page-box">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Primalac</th>
                    <th scope="col">Tip donacije</th>
                    <th scope="col">Transport</th>
                    <th scope="col">Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.rows)
                {
                    <tr>
                        <td>@x.LicniPodaciNaziv</td>
                        <td>@x.TipDonacije</td>
                        <td><input asp-for="@x.Transport" onclick="return false" /></td>
                        <td>@x.StatusOpis</td>
                        <td><a class="btn btn-outline-info" asp-route-donacijaId="@x.DonacijaId" asp-route-akcija="2" asp-action="DetaljiDonacije">Detalji</a></td>
                        <td><a class="btn btn-outline-success" asp-route-donacijaId="@x.DonacijaId" asp-action="Doniraj">Doniraj</a></td>
                    </tr>
                }
            </tbody>
        </table>

        </div>
</div>