@model DonorCentar.ViewModels.KorisnikVM

<div id="profil-left">

    @if (Model.ProfilnaSlika != null)
    {

        var base64 = Convert.ToBase64String(Model.ProfilnaSlika);
        var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);


        <img src="@imgSrc" class="mb-4" />
    }
    else
    {
        <img src=/img/p.png
             class="mb-4" />
    }
    <h3 class="text-secondary">@Model.Ime @Model.Prezime </h3>
    <p class="text-info"><em>@Model.TipKorisnika</em></p>
</div>
<div id="profil-right">
    <div id="profil-info">
        <ul class="list-group">
            <li class="list-group-item">
                <h3>Adresa</h3>
                <p>@Model.Grad, @Model.Adresa</p>
            </li>
            <li class="list-group-item">
                <h3>Broj telefona</h3>
                <p>@Model.BrojTelefona</p>
            </li>
            <li class="list-group-item">
                <h3>Email</h3>
                <p>@Model.Email</p>
            </li>
            <li class="list-group-item">
                <a asp-controller="Postavke" asp-action="Index" class="btn btn-primary">Postavke</a>
            </li>
        </ul>
    </div>

</div>
