@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<DonorCentar.Models.Primalac>

@{
    ViewData["Title"] = "Pregled Primaoca";
    Layout = "~/Views/Shared/_Administrator.cshtml";

  
}

<div class="content-box">
    <div class="page-box">
        <h1>@ViewData["Title"]</h1>
        <table class="table table-dark" width="100%">
            <thead>
                <tr>
                    <th>Naziv primaoca</th>
                    <th>Verifikovan</th>
                    <th>Kanton</th>
                    <th>Grad</th>
                    <th>Broj telefona</th>
                    <th>E-mail</th>
                    <th>Adresa</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Korisnik.LicniPodaci.ImePrezime</td>
                        <td><input asp-for="@x.Verifikovan" onclick="return false" /></td>
                        <td>@x.Korisnik.Grad.Kanton.Naziv</td>
                        <td>@x.Korisnik.Grad.Naziv</td>
                        <td>@x.Korisnik.LicniPodaci.BrojTelefona</td>
                        <td>@x.Korisnik.LicniPodaci.Email</td>
                        <td>@x.Korisnik.LicniPodaci.Adresa</td>

                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("PregledPrimaoca", new { page }))
    </div>
</div>
